body {
	background-color: black;
	text-align: center;
	color: white;
	font-family: 'Press Start 2P', 'cursive';
}
#yesComputerPlayer {
	font-size: 10px;
}
#noComputerPlayer {
	font-size: 10px;
}
#logo {
	width: 500px;
	height: 200px;
}
#board {
	margin: 0 auto;
	border: 4px solid blue;
	width: 337px;
	height: 337px;
	padding: 5px;
}
.cell {
	width: 100px;
	height: 100px;
	border: 4px solid blue;
	float: left;
	margin: 2px;
}
.pacman {
	background-image: url("../images/pacman_icon.png");
	background-size: cover;
}
.ghost {
	background-image: url("../images/ghost_icon.png");
	background-size: cover;
}
.blueGhost {
	background-image: url("../images/blue_ghost.jpg");
	background-size: cover;
}
.flash {
/*-moz-animation: -ms-animation: -moz-keyframes -ms-keyframes-*/
	-webkit-animation: flash 1s ease-out;
  	-webkit-animation-iteration-count: 2;
}
@-webkit-keyframes flash {
    0% { background-image:none;}
    50% {background-image: url("../images/pacman_icon.png");}        
    100% {background-image:none;}
}
#gameOverAlert {
	color: red;
}
.buttonHidden {
	display: none;
}
.buttonAppear {
	display: visible;
}
#playAgain {
	color: yellow;
}
.blink {
	-webkit-animation: blink 1s 2.5s infinite; 
}
@-webkit-keyframes blink {
    0% {opacity: 1;}
    50% {opacity: 0;}        
    100% {opacity: 1;}
}

/*	transition-property: background;
	transition-duration: 2s;
	transition-timing-function: ease-in-out;