body {
	background-color: black;
	text-align: center;
	color: white;
	font-family: 'Press Start 2P', 'cursive';
}
#logo {
	margin-top: 20px;
}
#logoPic {
	margin-bottom: 20px;
}
#board {
	width: 350px;
	height: 350px;
	margin: 0 auto;
	padding: 8px;
	border: 8px solid blue;
	border-radius: 20px;
}
.cell {
	width: 102px;
	height: 102px;
	float: left;
	margin: 4px;
	border: 4px solid blue;
	border-radius: 10px;
}
.pacman {
	background-image: url("../images/pacman_alive.png");
	background-size: cover;
}
.ghost {
	background-image: url("../images/red_ghost.png");
	background-size: cover;
}
.blueGhost {
	background-image: url("../images/blue_ghost.jpg");
	background-size: cover;
}
.deadPacman {
	background-image: url("../images/pacman-dies.gif");
	background-size: cover;
}
#gameOverAlert {
	color: red;
}
#playAgain {
	color: yellow;
}
.blink {
	-webkit-animation: blink 1s 2s infinite; 
}
@-webkit-keyframes blink {
    0% {opacity: 1;}
    50% {opacity: 0;}        
    100% {opacity: 1;}
}
#wrapper {
	width: 100px;
	height: 100px;
}
#wrapper div {
	position: absolute;
}