<!DOCTYPE html>
<html x-ng-app="tptApp">
<head>
	<link rel="stylesheet" type="text/css" href="css/style.css">
	<link href='http://fonts.googleapis.com/css?family=Press+Start+2P' rel='stylesheet' type='text/css'>
	<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.15/angular.min.js"></script>
	<script src="js/script.js"></script>
</head>
<body x-ng-controller="TptController">
	<img id="logo" src="images/logo.jpg" />
	<div id="board">
		<div x-ng-class="{cell: true, pacman: c == 1, ghost: c == -1,  blueGhost: c == -1 && gameOver && winner == 'pacman', flash: c == 1 && gameOver && winner == 'ghost'}" x-ng-repeat="c in cells track by $index" x-ng-click = "makeMove($index);">
		</div>
	</div>
	<div id="bottom">
		<p id="gameOverAlert"></p>
		<p id="winnerAlert"></p>
		<p id="playAgain" x-ng-class="{blink: true, buttonHidden: gameOver == false, buttonAppear: gameOver == true}" x-ng-click="restart()">PLAY AGAIN?</p>
	</div>
</body>
</html>