<!DOCTYPE html>
<html x-ng-app="tptApp">
<head>
	<link rel="stylesheet" type="text/css" href="css/style.css">
	<link href='http://fonts.googleapis.com/css?family=Press+Start+2P' rel='stylesheet' type='text/css'>
	<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.15/angular.min.js"></script>
	<script src="js/script.js"></script>
</head>
<body x-ng-controller="TptController">
<!--boxes are hidden and currently are swapped out on click (x-ng-click) and x-ng-show is determined by true false-->
<!-- 	<div id="wrapper">
		<div id="box1" x-ng-show="box == 1" x-ng-click="clickTheBox()"> -->
			<img id="logo" src="images/ticpactoe_logo2.png" />
			<br />
			<img id="logoPic" src="images/logo_pic.png" />
			<div id="board">
				<div x-ng-class="{cell: true, pacman: c == 1, ghost: c == -1,  blueGhost: c == -1 && winner == 'pacman', deadPacman: c == 1 && winner == 'ghost'}" x-ng-repeat="c in cells track by $index" x-ng-click = "makeMove($index);">
				</div>
			</div>
	<!-- 	</div>
		<div id="box2" x-ng-show="box == 2" x-ng-click="clickTheBox()"> -->
			<div id="bottom">
				<p id="gameOverAlert"></p>
				<p id="winnerAlert"></p>
				<p id="playAgain" class="blink" x-ng-show="gameOver == true" x-ng-hide="gameOver == false" x-ng-click="restart()">PLAY AGAIN?</p>
			</div>
			<audio id="startSound" src="sounds/pacman_intro.wav" style="display: none;"></audio>
			<audio id="pacmanDiesSound" src="sounds/Pacman-Die.mp3" style="display: none;"></audio>
			<audio id="ghostDiesSound" src="sounds/ghost_dies.mp3" style="display: none;"></audio>
<!-- 		</div>
		<div id="box3" x-ng-show="box == 3" x-ng-click="clickTheBox()">I WIN</div>
	</div> -->
</body>
</html>