<!DOCTYPE html>
<html x-ng-app="tptApp">
<head>
	<link rel="stylesheet" type="text/css" href="css/style.css">
	<link href='http://fonts.googleapis.com/css?family=Press+Start+2P' rel='stylesheet' type='text/css'>
	<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.15/angular.min.js"></script>
	<script src="https://cdn.firebase.com/v0/firebase.js"></script>
	<script src="https://cdn.firebase.com/libs/angularfire/0.6.0/angularfire.min.js"></script>
	<script src="js/script.js"></script>
</head>

<body x-ng-controller="TptController">
<!--boxes are hidden and currently are swapped out on click (x-ng-click) and x-ng-show is determined by true false-->
 	<div id="wrapper">
		<div id="box1" x-ng-show="game.box == 1">
			BOX 1
			<img id="logo1" src="images/ticpactoelogo.svg" />
			<br />
			<img id="logoPic1" src="images/logo_pic.png" />
			<p id="waitingMessage"></p>
		</div>
		<div id="box2" x-ng-show="game.box == 2">
			BOX2
			<img id="logo2" src="images/ticpactoelogo.svg" />
			<br />
			<img id="logoPic2" src="images/logo_pic.png" />
			<div id="board">
				<div x-ng-class="{cell: true, pacman: c.value == 1, ghost: c.value == -1}" x-ng-repeat="c in game.cells track by $index" x-ng-click = "makeMove($index);">
				</div>
			</div>
			<audio id="startSound" src="sounds/pacman_intro.wav" style="display: none;"></audio>
 		</div>
		<div id="box3" x-ng-show="game.box == 3">
			BOX 3
			<img id="gif" src="images/pacman_winner.gif"></img>
			<p id="gameOverAlert"></p>
			<p id="winnerAlert"></p>
			<p id="playAgain" class="blink" x-ng-show="gameOver == true" x-ng-hide="gameOver == false" x-ng-click="restart()">PLAY AGAIN?</p>
		</div>
		<div id="box4" x-ng-show="game.box == 4">
			BOX 4
			<img id="gif" src="images/ghost_winner.gif"></img>
			<p id="gameOverAlert"></p>
			<p id="winnerAlert"></p>
			<p id="playAgain" class="blink" x-ng-show="gameOver == true" x-ng-hide="gameOver == false" x-ng-click="restart()">PLAY AGAIN?</p>
		</div>
		<div id="box5" x-ng-show="game.box == 5">
			BOX 5
			<p id="gameOverAlert"></p>
			<p id="winnerAlert"></p>
			<p id="playAgain" class="blink" x-ng-show="gameOver == true" x-ng-hide="gameOver == false" x-ng-click="restart()">PLAY AGAIN?</p>
		</div>
			<!-- <audio id="pacmanDiesSound" src="sounds/Pacman-Die.mp3" style="display: none;"></audio>
			<audio id="ghostDiesSound" src="sounds/ghost_dies.mp3" style="display: none;"></audio>  -->
	</div> 
</body>
</html>